<%- include('partials/header') %>
<body class="back" style="background-color:#c3f584;">
  <div class="dataentry">
    <form class="" action="/datae" method="post">
      <div class="form-group mx-sm-3 mb-2">

      <table>
        <tr>
          <td><h2>Cateagory</h2></td>
          <td><input class="form-control" type="text" name="catg" value=""></td>
        </tr>
          <tr>
          <td><h2 >Link</h2></td>
          <td>  <input class="form-control" type="text" name="link" value=""></td>
          </tr>
          <tr>
            <td><h2>Rating</h2></td>
            <td><input class="form-control" type="number" name="rating" value=""></td>
          </tr>
          <tr>
            <td><h2>Nitch</h2></td>
            <td><input class="form-control" type="text" name="nitch" value=""></td>
          </tr>
          <tr>
            <td><h2>DA</h2></td>
            <td><input class="form-control" type="number" name="da" value=""></td>
          </tr>
          <tr>
            <td><h2>FA</h2></td>
            <td><input class="form-control" type="number" name="fa" value=""></td>
          </tr>
          <tr>
            <td><h2>PA</h2></td>
            <td><input class="form-control" type="number" name="pa" value=""></td>
          </tr>
          <tr>
            <td><h2>Price</h2></td>
            <td><input class="form-control" type="number" name="priceodp" value=""></td>
          </tr>
          <tr>
            <td><h2>Price-client</h2></td>
            <td><input class="form-control" type="number" name="priceclient" value=""></td>
          </tr>
          <br><br>
          <tr>
            <td></td>
            <td>  <button  class="btn btn-outline-dark btn-lg"type="submit" name="button">submit</button></td>
          </tr>


      </table>






    </form>
  </div>

  <%- include('partials/footer') %>
