<%- include('partials/header') %>
  <body class="back"style="background-image:url(images/im2.jpg)">
      <div class="centerbox">

              <img src="images/delete.png" alt=""style="width:150px;height:150px;">
              <h1>DELETE</h1>
              <form class="" action="\delete" method="post">
                <div class="form-group mx-sm-3 mb-2">
              <input type="text" name="dnitch" value="" class="formd"placeholder="Enter nitch">
              <input type="text" name="dcat" value="" class="formd"placeholder="Enter cateagory">
              <input type="text" name="dlink" value="" class="formd"placeholder="Enter link">
              <div class=""style="padding-bottom:20px;">
                <button type="submit" name="button" class="btn btn-outline-dark btn-lg" value="delete">Delete</button>
              </div>
              </div>
              </form>

            </div>



<%- include('partials/footer') %>
