


<!DOCTYPE html>
<html la
ng="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/master.css">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,700,900|Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Audiowide&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title></title>
    <script type="text/javascript">
</script>
  </head>
  <body>
      <div class="nav-area fixed-top">
        <div class="container">
          <nav class="navbar navbar-expand-lg navbar-dark w-100" style="color:orange;">
  <a class="navbar-brand" href="#">Orange<img style="width:20px; height :10 px ;" src="images/fruit.png" alt="">Search</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">
      <i class="fa fa-bars"></i>
    </span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav ">
      <li class="nav-item active">
        <a class="nav-link"  style="color:orange;"href="#home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link active"style="color:orange;" href="/odpindex">ODPuser</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link active" style="color:orange;" href="/user">Client<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" style="color:orange;"href="#services">Services</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link"style="color:orange;" href="#about">About</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" style="color:orange;"href="#contact">Contact</a>
      </li>

    </ul>

  </div>
</nav>

        </div>

      </div>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="5000">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active" style="background-image: url(images/back2.jpeg);background-repeat: no-repeat; background-size: 100%;" >
          <div class="content">
            <h1 class="te">Welcome To Orange search</h1>
            <h3 class="te">Find the best Sites</h3>
            <a class="btn btn-outline-dark btn-lg"href="/user">Let See</a>
          </div>

          </div>

      <!----Slide 2--->
      <div class="carousel-item " style="background-image: url(images/back3.jpeg); background-repeat: no-repeat; background-size: 100%;">
          <div class="content2">
          <h1 class="te">Up To Websites</h1>
          <h3 class="te">Top Sites List</h3>
          <a class="btn btn-outline-dark btn-lg"href="/user">Lets Start</a>
        </div>

    </div>
    <!-----slide 3-->
    <div class="carousel-item " style="background-image: url(images/back4.jpeg);background-repeat: no-repeat; background-size: 100%;">
            <div class="content3">
      <h1 class="te">Make Your Search</h1>
      <h3 class="te">Collections Of Sites</h3>
      <a id="bu"class="btn btn-outline-dark btn-lg"href="/user">Subscribe</a>
    </div>

  </div>
  <!----next-prev--->
  <a class="carousel-control-prev"href="#carouselExampleIndicators" role="button" data-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span></a>
  <a class="carousel-control-next"href="#carouselExampleIndicators" role="button" data-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span></a>

  </div>

</div>


      <div id="about" class="about-area setion-padding active">
        <div class="container">
          <div class="row"style="padding-bottom:10px;padding-top:60px;">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
              <div class="section-header">
                <h2>who we are</h2>
                <p>Please type some content</p>
              </div>
            </div>

          </div>
          <div class="row" style="padding-bottom:80px;padding-top:20px;">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
              <div class="about-img wow animated fadeInDown" data-wow-delay="0.2s">
                <img style="width:300px;height:300px; left:150px;"src="images/icon.png" alt="">
              </div>

            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
              <div class="item-text">
                <h4>Orange-Search</h4>
                <p>Have you ever wanted to use meaningless, empty phrases that make it look like you know what you are talking about?

Simply click on the button below this paragraph and a random piece of business jargon will appear in the box. If you need more than one buzzphrase, just click the button again and again.</p>

              </div>

            </div>
          </div>
        </div>

      </div>

      <div class="services-area section-padding  active"id="services">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
              <div class="section-header">
                <h2>What we do</h2>
                <p>These are the thmgs that we provoiding</p>

              </div>

            </div>

          </div>
            <div class="row">
              <div class="col-lg-4 col-md-6">
                <div class="single-service wow animated fadeInLeft" data-wow-delay="0.2s">
                  <i class="fa fa-bell fa-2x"></i>
                  <h2>Efficient-Search</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>

              </div>
              <div class="col-lg-4 col-md-6">
                <div class="single-service wow animated fadeInDown" data-wow-delay="0.4s">
                  <i class="fa fa-briefcase fa-2x"></i>
                  <h2>Reducing-Workload</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>

              </div>
              <div class="col-lg-4 col-md-6">
                <div class="single-service wow animated fadeInRight" data-wow-delay="0.6s">
                  <i class="fa fa-plus-circle fa-2x"></i>
                  <h2>Safe-Sites</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>

              </div>
              <div class="col-lg-4 col-md-6">
                <div class="single-service wow animated fadeInLeft" data-wow-delay="0.8s">
                  <i class="fa fa-thumbs-up fa-2x"></i>
                  <h2>Quality-Assurance</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>

              </div>
              <div class="col-lg-4 col-md-6">
                <div class="single-service wow animated fadeInUp" data-wow-delay="1s">
                  <i class="fa fa-tv fa-2x"></i>
                  <h2>Responsive</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>

              </div>
              <div class="col-lg-4 col-md-6">
                <div class="single-service wow animated fadeInUp" data-wow-delay="1.2s">
                  <i class="fa fa-hourglass-end fa-2x"></i>
                  <h2>Time-minization</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>

              </div>

            </div>
        </div>

      </div>





      <div class="contact-area section-padding" id="contact">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
              <div class="section-header">
                <h2>Contact us</h2>
                <p>Feel Free to contact for your doubts.</p>

              </div>

            </div>

          </div>
          <div class="row">
            <div class="col-md-8 offset-md-2">
              <div class="single-form">
                <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="textarea" class="form-control" id="exampleInputText1" placeholder="Clarifiy your doubts with us..">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="footer-area">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
           
            </div>
          </div>
        </div>
      </div>
      <script async>(function(w, d) { w.CollectId = "5d9f11dc9c02f426cb130032"; var h = d.head || d.getElementsByTagName("head")[0]; var s = d.createElement("script"); s.setAttribute("type", "text/javascript"); s.setAttribute("src", "https://collectcdn.com/launcher.js"); h.appendChild(s); })(window, document);</script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>src="wow.mins.js"</script>
  <script>
    new WOW().init;
  </script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>
 <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
 
 <!-- scrollSpy plugin see https://github.com/thesmart/jquery-scrollspy -->
 <script src="https://gitcdn.xyz/repo/thesmart/jquery-scrollspy/0.1.3/scrollspy.js"></script>
 
 <!-- Modify after -->
 <script>
   // Repeat demo content
   var $body = $('body');
   var $box = $('.box');
   for (var i = 0; i < 20; i++) {
     $box.clone().appendTo($body);
   }
 
   // Helper function for add element box list in WOW
   WOW.prototype.addBox = function(element) {
     this.boxes.push(element);
   };
 
   // Init WOW.js and get instance
   var wow = new WOW();
   wow.init();
 
   // Attach scrollSpy to .wow elements for detect view exit events,
   // then reset elements and add again for animation
   $('.wow').on('scrollSpy:exit', function() {
     $(this).css({
       'visibility': 'hidden',
       'animation-name': 'none'
     }).removeClass('animated');
     wow.addBox(this);
   }).scrollSpy();
 
 </script>
 



  </body>
</html>
