<%- include('partials/header') %>
  <body class="back"style="background-image:url(images/search3.jpeg);opacity:0.9;margin-top:200px;text-align:center;">
      <div class="centerbox">

                <img id="lock"src="images/search1.png" alt="">


                <h1>SEARCH</h1>

<form class="abc" action="/dis2" method="post">
  <input class="formd"type="text" name="search" value=""><br>
  <div class="" style="padding-bottom:20px;">
      <button type="submit" class="btn btn-outline-dark btn-lg"name="button">Submit</button><br>

  </div>
  <div class="" style="padding-bottom:20px;">
      <a class="btn btn-dark btn-lg " style="margin-left:0;" href="/decission" role="button">Back</a>
  </div>


</form>

</div>

<%- include('partials/footer') %>
