<%- include('partials/header') %>


  <body class="back"style="background-image:url(images/im7.jpg)">
      <div class="centerbox">
          <div class="row">
            <div class="col-lg-3 " >
              <img id="lock"src="images/lock.jpg" alt="">
            </div>
            <div class="col-sm-9 ">
              <h1>Welcome to orange<br>search</h1>
              <p>(Orange digital prople members login)</p>
              <form class="" action="index.html" method="post">
                <a class="btn btn-dark btn-lg b1" href="/odpsignin" role="button">Sign_in</a><br>
              <a class="btn btn-dark btn-lg b1" href="/odpsignup" role="button">Sign_up</a>
              <a class="btn btn-dark btn-lg b1" href="/" role="button">Exit</a>
              </form>


            </div>
          </div>

        </div>
  <%- include('partials/footer') %>
