<%- include('partials/header') %>
  <body class="back"style="background-image:url(images/im1.jpg)">
      <div class="centerbox" style="opacity:0.9;">



            <div class="">
                <img id="lock"src="images/signup.png" alt="">
              <h1>Create Your Acount(ODP USER)</h1>
              <form class="" action="\odpsignup" method="post">
                    <div class="form-group mx-sm-3 mb-2">
                <input class="form-control"type="text" name="odpname" value="" placeholder="Name"><br>
                <input class="form-control"type="text" name="odpid" value="" placeholder="ODP_ID"><br>
                <input class="form-control"type="email" name="odpmail" value="" placeholder="E-mail"><br>
                        <input class="form-control"type="password" name="odppass" value="" placeholder="Password"><br>
                <div class="" style="padding-bottom:20px;">
                  <button type="submit"  class="btn btn-outline-dark btn-lg"name="button" value="Sign_up">sign_up</button>
                </div>


                </div>
              </form>


          </div>

        </div>
<%- include('partials/footer') %>
