<%- include('partials/header') %>
  <body class="back" style="background-image:url(images/back0.jpg)">
      <div class="centerbox">


            <div class="" >
              <img id="lock"src="images/signup.png" alt="">
              <h1>Create Your Acount</h1>
              <form class="" action="\signup" method="post">
                <div class="form-group mx-sm-3 mb-2">
                  <input class="form-control" style="border-right:30px;"type="text" name="name" value="" placeholder="user name"><br>
                  <input class="form-control"type="email" name="mail" value="" placeholder="user E-mail"><br>
                  <input class="form-control"type="password" name="pass" value="" placeholder="password"><br>
                  <div class=""style="padding-bottom:20px;">
                      <button class="btn btn-outline-dark btn-lg"type="submit"  name="button" value="Sign_up">sign_up</button>
                  </div>


 </div>





              </form>

            </div>
          </div>


<%- include('partials/footer') %>
